<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="container">
<p class="head">Products</p>
<div class="grid-container">
<mat-card class="card" *ngFor="let prod of 
productArray;let i = index">
    <img mat-card-image src="assets/Product.png" alt="Photo of a product">
    <mat-card-content>
        <p class="title">Iphone 14 Pro Max</p>
        <span class="material-symbols-outlined" style="margin-left:117px;float: left;">
            currency_rupee
            </span>
        <p class="price">1,39,900</p>
      <p class="content">
        Apple iPhone 14 Pro Max is the new mobile from Apple <br>
        that was launched in India on September 7, 2022 (Official). <br>
        This mobile is available at a starting price of Rs 139,900 in different color options. The mobile from Apple comes with a 6.7 inches (17.02 cm)
      </p>
      <p class="txt-count">Count:</p>
    </mat-card-content>
      <button type="button" class="btn-dec" (click)="dec(prod)">
        <p>-</p>
    </button>
    <span class="count">{{prod.qnt}}</span>
    <button type="button" class="btn-inc" (click)="inc(prod)">
      <p>+</p>
  </button>
  <button mat-button (click)="pickcount(i)"><span class="material-symbols-outlined">
    add_shopping_cart
    </span>Add To Cart</button>
  </mat-card>
</div>
</div>