* {
    font-family: 'Roboto';
}

.example-spacer {
    flex: 1 1 auto;
}

.dot {
    width: 65px;
    height: 65px;
    margin-left: 55px;
    margin-top: 28px;
    margin-right: 26px;
    margin-bottom: 27px;
    background: #FFFFFF;
    position: relative;
    border-radius: 50%;
    display: inline-block;
}

.logo {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 7px;
}

.mat-toolbar {
    height: 120px;
    left: 0px;
    top: 0px;

    background: #38297A;
}
.checkout{
    border-radius: 6px;
    width: 163px;
height: 47px;
    margin-left: 80px;
    background-color: #38297A;
    border: none;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
}
.viewbtn{
    outline: none;
    border-radius: 6px;
    margin-left: 60px;
    background-color: #38297A;
    border: none;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
}

.home
{
    border: none;
    background-color: #38297A;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
}
.viewbtn:focus,.checkout:focus{
    background: #271B60;
}
.viewbtn:hover,.checkout:hover{
    cursor: pointer;
}
.packicon {
    margin-right: 18px;
    filter: invert(100%);
    height: 35px;
    width: 35px;
}
.countdot {
    background: #FFFFFF;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    margin-top: 23px;
    margin-bottom: 72px;
    width: 25px;
    height: 25px;
    padding: 4px 4px;
}

.count {
    margin-top: 2px;
    margin-left: 3px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
vertical-align: middle;
    color: #38297A;
}

.footer {
    width: 100% !important;
    color: white;
    width: 1440px;
    height: 310px;
    left: 0;
    bottom: 0;
    background: #38297A;
}

.row1,
.row2,
.row3,
.row4 {
    float: left;
}

.line {
    width: 250px;
    border: 1px solid #FFFFFF;
}

.row1 {
    padding-top: 78px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.05em;
}

.kaar {
    padding-left: 110px;
    padding-bottom: 32px;
}

.sap {
    width: 239px;
    height: 98px;
    margin-left: 82px;
}

.row2,
.row3 {
    margin-left: 67px;
    margin-top: 84px;
}

.company,
.service {
    padding-bottom: 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.compcont,
.servcont {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.row4{
    margin-top: 64px;
    margin-left: 93px;
}

.row4 pre{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
align-items: center;
text-align: center;
color: #FFFFFF;
}

.footerdot{
    margin-top: 24px;
    margin-left: 65px;
    display: inline-block;
    border-radius: 50%;border:none;
    padding-top: 4px;
    padding-bottom: 4px;
}

.footerfoot{
    margin-left: 509px;
    float:left;
margin-top: 28px;
font-style: normal;
font-weight: 400;
font-size: 14px;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
color: #FFFFFF;

}
.icons{
    margin-top: 28px;
    filter: invert(1);
}
.name{
    margin-right: 60px;
    margin-top: 44px;
    margin-bottom: 49px;
    font-style: normal;
font-weight: 600;
font-size: 20px;
letter-spacing: 0.05em;
color: #FFFFFF;
background: #38297A;
border: none;
}
.example-list {
    margin-top: 30px;
    width: 300px;
    height: 280px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  
  .example-list > li {
    list-style-type: none;
    border-bottom: solid 1px #8b8b8b;
    padding: 8px 0;
  }
  
  .example-list > li:last-child {
    border-bottom: none;
  }
  .profilename{
margin-left: 110px;
margin-top: 13px;
font-style: normal;
font-weight: 600;
font-size: 20px;
letter-spacing: 0.05em;
color: #000000;
  }
  .profilemail{
margin-left: 60px;
margin-top: 13px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #7B7B7B;
  }